@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,100;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(154, 161, 161);
  color: #fff;
  padding: 30px;
  width: 400px;
}
.container h1 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  padding-bottom: 30px;
}
.container .sign-up {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}
.sign-up input {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  background-color: #fff;
  color: #333;
  outline: none;
  border-radius: 5px;
  padding: 20px 45px 20px 20px;
  font-size: 15px;
}
.sign-up input::placeholder {
  color: #333;
}
.sign-up i {
  position: absolute;
  right: 10px;
  top: 17px;
  transform: translate(-50%);
  color: green;
}
.sign-up-button .btn {
  align-items: center;
  justify-content: center;
  margin: 15px;
  background: slategray;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.sign-up-button .btn:hover {
  background: rgb(100, 124, 147);
  color: #fdfcfc;
}
.next-btn {
  align-items: center;
  justify-content: center;
  margin: 15px;
  margin-left: 100px;
  background: slategray;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.next-btn:hover {
  background: rgb(100, 124, 147);
  color: #fdfcfc;
}
